Library
/Temp
/Assembly-CSharp-vs.csproj
/UMA_AssetStore_Launch.sln
/UMA_AssetStore_Launch.userprefs
/UMA_AssetStore_Launch-csharp.sln
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-vs.csproj
